@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	font-family: 'Open Sans', 'sans-serif';
	font-weight: 400;
}

h1, h2, h3, h4 {
	font-weight: 700;
}

html.light { color: black; background-color: white; }
html.light a { color: blue; }
html.dark { color: white; background-color: black; }
html.dark a { color: cyan; }
#top { position: fixed; top:0; right:0; padding: 20px; }
#theme { position: fixed; bottom:0; right:0; margin: 20px; }
#theme .selected { font-weight: bold; text-decoration: none; }
html.light #theme .selected { color: black; }
html.dark #theme .selected { color: white; }
html.light #top { background-color: white; }
html.dark #top { background-color: black; }
#headerbar { position: relative; height: 130px; }
.morty { position: absolute; top: 22px; left: 15px; }
#title { font-size: 38px; position: absolute; top: 15px; left: 100px; margin: 0; }
#subtitle { position: absolute; top: 58px; left: 100px; margin: 0; }
#nav { position: absolute; top: 85px; font-size: 18px; }
#donate-table td.w300 { width: 300px }
p { margin: 10px; }
a { color: blue; }
.indent { margin-left: 10px; }
.wicon32 { position: relative; top: -6px; }
.wicon32 img { position: relative; top: 6px; }
img.graph { width: 90%; margin: 5%; }
.strike { text-decoration: line-through; opacity: 0.5; }
#alertbar { background-color: #FFCCCC; margin: 0 0 20px 0; padding: 0; border: 2px solid black; }
#alertbar h2, #alertbar h3 { margin: 0; padding: 5px; }
#alertbar h2 { border-bottom: 2px solid black;  background-color: red; color: white; }
#alertbar em { color: red; }
#alertbar a.close { color: white; }

p.top { padding-top: 15px; }
.floatright { float: right; }
.center { text-align: center; }

#minecraftviewer { position: static; margin-bottom: 15px; }

.faded { opacity: 0.5; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	#minecraftviewer { position: absolute; top: 20px; right: 20px; }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	#minecraftviewer { position: absolute; top: 20px; right: 20px; }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	#minecraftviewer { position: absolute; top: 20px; right: 20px; }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}